<link rel="import" href="../../polymer/polymer-element.html">

<dom-module id="custom-loader">
  <template>
    <style>
      :host {
        display: block;
      }

      .lds-dual-ring {
        display: inline-block;
        width: 64px;
        height: 64px;
      }

      .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 46px;
        height: 46px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid #dfc;
        border-color: #dfc transparent #dfc transparent;
        animation: lds-dual-ring 1.2s linear infinite;
      }

      @keyframes lds-dual-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>

    <div class="lds-dual-ring"></div>
  </template>

  <script>
    /**
    * `custom-loader`
    * Custom Loader Component
    *
    * @customElement
    * @polymer
    * @demo demo/index.html
    */
    class CustomLoader extends Polymer.Element {
      static get is() {
        return 'custom-loader';
      }
    }

    window.customElements.define(CustomLoader.is, CustomLoader);
  </script>
</dom-module>